{% extends "/layouts/base.twig" %} {% block content %} {% include "/elements/header.twig" %}

<!-- ページコンテンツ -->
<article id="page-wrapper">

  <!-- FV -->
  <header id="canvas-container">
    <div class="parallax-picture">
      <div class="                        bg-granim-pink
      top_pic">
      <article id="recommend-pic" class="parallax-pic_inner                                                                     homework_inner
      ">
      <h1>オンライン学習<br>在宅ワーカー育成コース</h1>
      <svg class="editorial" viewBox="0 24 150 28" preserveAspectRatio="none">
        <defs>
          <path id="gentle-wave" d="m -160,44.4 c 30,0 58,-18 87.7,-18 30.3,0 58.3,18 87.3,18 30,0 58,-18 88,-18 30,0 58,18 88,18 l 0,34.5 -351,0 z"/>
        </defs>
        <g class="parallax">
          <use xlink:href="#gentle-wave" x="50" y="0" fill="#fff"/>
        </g>
      </svg>
    </article>
  </div>
</div>
</header>
<!-- ./FV -->

<!-- コンテンツ -->
<section class="homework">
<div class="container">
  <hr class="style-hr">
  <div class="row">
    <div class="col-md-12">
      <h2>在宅ワーカー育成コース</h2>
      <img class="img-responsive" src="http://i-b-c.jp/wp-content/themes/it-bootcamp/dist/img/catch-homework.jpg" alt="" pagespeed_url_hash="1741340124" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">

      <div class="row">
        <div class="col-md-10 col-md-offset-1 col-sm-12">
          <!-- 在宅コースとは -->
          <h2 class="style-2">在宅ワーカー育成コースとは？</h2>
          <p class="lead">在宅ワーカー育成コースは仕事や家事の空いた時間に学べて、卒業後は習得したスキルを使って”在宅ワークで収入を得る事”を目的としたコースです。</p>
          <p>『仕事をしながら』『家事・育児と両立しながら』『学生をしながら』今のライフスタイルを変えずに、ご自宅で収入の得られる仕事が出来たらいいと思いませんか？<br>
            それを実現するのがWeb制作という新しいタイプのお仕事です。<br>
            在宅ワークコースでは、1案件5万円〜のWebのお仕事で毎月安定した収入を得られるようになることを目指します。</p>

            <h3>コース詳細</h3>
            <p class="lead">Illustrator、Photoshopの技術を習得し、ロゴデザインやチラシデザインからWebデザインまで学習します。<br>
              <span class="txt-16">現在主流とされているPC・タブレット・スマートフォンに最適化されたWeb制作ができるようになります。</span></p>
              <!-- Webデザイン -->
              <div class="course-summary-card row row-gap-medium">
                <div class="col-sm-3">
                  <div class="row">
                    <div class="col-xs-8 col-xs-offset-2 col-sm-12">
                      <img src={{asset('/img/icon-webdesign.png')}} class="img-responsive center-block" pagespeed_url_hash="1532680324" onload="pagespeed.CriticalImages.checkImageForCriticality(this);" width="1200" height="630">
                    </div>
                  </div>
                </div>
                <div class="col-sm-9">
                  <div class="row">
                    <div class="col-sm-12">
                      <h3 class="h-slim">Webデザイン <small>目安時間：100時間</small>
                        <span class="badges">
                          <!-- バッジエリア -->
                          <span class="badge badge-squared badge-recommend text-uppercase">人気</span>
                          <!-- ./バッジエリア -->
                        </span>
                      </h3>
                    </div>
                  </div>
                  <div class="course-summary-card__content">
                    <p>PC・タブレット・スマートフォンに最適化された「レスポンシブルサイト」を作成する為のスキルを学習します。</p>
                  </div>
                </div>
              </div>
              <hr class="style-hr"/>
              <!-- ./Webデザイン -->
              <!-- グラフィック -->
              <div class="course-summary-card row row-gap-medium">
                <div class="col-sm-3">
                  <div class="row">
                    <div class="col-xs-8 col-xs-offset-2 col-sm-12">
                      <img src={{asset('/img/icon-graphic.png')}} class="img-responsive center-block" pagespeed_url_hash="1205191618" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                    </div>
                  </div>
                </div>
                <div class="col-sm-9">
                  <div class="row">
                    <div class="col-sm-12">
                      <h3 class="h-slim">グラフィック <small>目安時間：200時間</small>
                        <span class="badges">
                          <!-- バッジエリア -->
                          <span class="badge badge-squared badge-new text-uppercase">NEW</span>
                          <!-- ./バッジエリア -->
                        </span>
                      </h3>
                    </div>
                  </div>
                  <div class="course-summary-card__content">
                    <p>IllustratorとPhotoshopの使い方と、素人でもプロのようなデザインをする為のセオリーを学習します。</p>
                  </div>
                </div>
              </div>
              <!-- ./グラフィック -->

              <!-- こんな方に -->
              <h3>こんな方に</h3>
              <p class="lead">バナー制作・LPの作成・Webデザインを学びたい方。<br>
                <span class="txt-16">１案件５〜２０万の仕事ができるスキルが身につきます。</span></p>
                <div class="row">
                  <div class="col-md-3 hidden-sm hidden-xs">
                    <img src={{asset('/img/homework_support.png')}} class="img-responsive" alt="" pagespeed_url_hash="219940366" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                  </div>
                  <div class="col-md-9 col-sm-12">
                    <ul class="disc">
                      <li class="txt-16">バナー制作（広告等に使用する、文字や写真・イラストなどで作る画像の制作です）</li>
                      <li class="txt-16">LPの作成（LP＝ランディングページ／一枚の長いWebページの制作です）</li>
                    </ul>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-10 col-md-offset-1 col-sm-12">
                    <h4>クラウドソーシングでの案件数(※弊社調べ）</h4>
                    <div class="col-md-10 col-sm-12">
                      <p class="lead">LP制作：<span class="strong">276件</span><br>
                        バナー作成：<span class="strong">671件</span></p>
                        <small>（調査日：2016年11月13日時点）</small>
                        <p>LP制作とバナー制作の案件だけでもこれだけの数の仕事が依頼されています。</p>
                        <h5>主なクラウドソーシングサービス</h5>
                        <p>クラウドワークス：<a class="hyper" href="https://crowdworks.jp/" target="_blank">https://crowdworks.jp/</a><br>
                          ランサーズ：<a class="hyper" href="http://www.lancers.jp/" target="_blank">http://www.lancers.jp/</a></p>
                        </div>
                        <div class="col-md-2 hidden-sm hidden-xs">
                          <img src={{asset('/svg/editor.svg')}} class="img-responsive" alt="" pagespeed_url_hash="940642489" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                        </div>
                      </div>
                    </div>
                    <!-- ./こんな方に -->

                    <hr class="style-hr"/>

                    <!-- 入隊後の未来-->
                    <h2 class="style-2">入隊後の未来</h2>
                    <h3>ITブートキャンプの入隊者だけが応募できる『非公開の在宅ワーカー案件』をご紹介！</h3>
                    <p class="lead">ITブートキャンプでは、生徒さんが収入を得る道の一つとして「在宅ワーカーの求人案件」をご紹介しております。<br>
                      <small>完全に在宅のみでする仕事以外にも、週1,2日は職場に出勤し、残りは在宅で仕事をする。といった案件も紹介しております。</small></p>
                      <div class="row">
                        <div class="col-md-6 col-sm-6">
                          <div class="memoClip">
                            <img src={{asset('/img/homework-memo-01.png')}} class="img-responsive" alt="" pagespeed_url_hash="2595312169" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                            <ul>
                              <li>8:00･････起床、朝ごはん</li>
                              <li>9:00･････洗濯、子供を幼稚園に送る</li>
                              <li><span>10:00･････在宅ワーク</span></li>
                              <li>12:00･････昼食</li>
                              <li><span>12:30･････在宅ワーク</span></li>
                              <li>16:30･････買い出し、子供のお迎え</li>
                              <li>18:30･････夕ご飯準備、夕ご飯</li>
                              <li>20:00･････子供のお風呂、寝かしつけ、入浴など</li>
                              <li>23:30･････就寝</li>
                            </ul>
                          </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                          <div class="memoClip">
                            <img src={{asset('/img/homework-memo-02.png')}} class="img-responsive" alt="" pagespeed_url_hash="2889812090" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                            <ul>
                              <li>8:00･････起床、朝ごはん</li>
                              <li>9:00･････洗濯、子供を幼稚園に送る</li>
                              <li><span>10:00･････勤務時間（お昼休憩有り）</span></li>
                              <li>16:30･････買い出し、子供のお迎え</li>
                              <li>18:30･････夕ご飯準備、夕ご飯</li>
                              <li>20:00･････子供のお風呂、寝かしつけ、入浴など</li>
                              <li>23:30･････就寝</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                          <h4 class="style-2">例）Webデザイン会社</h4>
                          <dl>
                            <dt><span>勤務形態</span></dt>
                            <dd>通勤週2~3 + 在宅勤務<br>
                              <small>※時短勤務可（応相談）</small></dd>
                              <dt><span>時給</span></dt>
                              <dd>¥1,000〜¥1,600<br>
                                <small>※能力に応じて（応相談）</small></dd>
                                <dt><span>職種</span></dt>
                                <dd>Webデザイナー</dd>
                                <dt><span>仕事内容</span></dt>
                                <dd>ウェブサイトの編集/管理</dd>
                                <dt><span>勤務地</span></dt>
                                <dd>神奈川県（小田急線沿線）または自宅</dd>
                              </dl>

                              <h4 class="style-2">例）Web広告会社</h4>
                              <dl>
                                <dt><span>勤務形態</span></dt>
                                <dd>在宅メインですが、週1日は通勤できる方限定。<br>
                                  <small>※業務開始にあたって、約2ヶ月は通勤できる方限定。</small></dd>
                                  <dt><span>時給</span></dt>
                                  <dd>時給1,000円支給（非出勤時は応相談）</dd>
                                  <dt><span>職種</span></dt>
                                  <dd>Webデザイン、広告運用業務</dd>
                                  <dt><span>仕事内容</span></dt>
                                  <dd>バナーやLPなどの作成業務、デジタル広告の運用（研修有）</dd>
                                  <dt><span>勤務地</span></dt>
                                  <dd>東京都23区内</dd>
                                </dl>
                              </div>
                            </div>

                            <h3>ITブートキャンプのメンターとして活躍！</h3>
                            <p class="lead">メンターとして認定されることで、今度はITブートキャンプを教える側のメンターとして活躍することができます。</p>

                            <div class="row">
                              <div class="col-md-10 col-md-offset-1">

                                <h4 class="style-2">例）オンラインメンター</h4>
                                <p class="lead">オンラインにてITブートキャンプの生徒さんのサポートをしていただきます。</p>
                                <h5>報酬　Aさんの例</h5>
                                <dl>
                                  <dt><span>月</span></dt>
                                  <dd>35,000円</dd>
                                  <dt><span>チャット質問対応</span></dt>
                                  <dd>10日間</dd>
                                  <dt><span>ビデオチャット</span></dt>
                                  <dd>5回</dd>
                                  <dt><span>場所</span></dt>
                                  <dd>全国<br>
                                    <small>（オンラインなので場所を問わず活躍していただけます）</small></dd>
                                  </dl>

                                  <h4 class="style-2">例）企業派遣メンター</h4>
                                  <p class="lead">企業にITブートキャンプのメンターとして出張していただきます。</p>
                                  <h5>報酬例</h5>
                                  <dl>
                                    <dt><span>都内近郊</span></dt>
                                    <dd>時給2,500円〜<br>
                                      <small>（交通費支給有）</small></dd>
                                      <dt><span>地方</span></dt>
                                      <dd>448,000円〜（2ヶ月間）<br>
                                        <small>（交通費、宿泊費支給有）</small></dd>
                                        <dt><span>場所</span></dt>
                                        <dd>応相談</dd>
                                      </dl>

                                      <h4>メンター特典</h4>
                                      <div class="row">
                                        <div class="col-md-10 col-sm-12">
                                          <p class="lead">ITブートキャンプへ参加する生徒さんを紹介していただくと、特典として紹介料が入ります。</p>
                                          <p>※詳しくは面談時にてご相談下さい。</p>
                                        </div>
                                        <div class="col-md-2 hidden-sm hidden-xs">
                                          <img src={asset('/svg/gift.svg')}}  class="img-responsive" alt="" pagespeed_url_hash="247323876" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <!-- ./入隊後の未来-->

                                  <!-- 料金 -->
                                  <h3>料金</h3>
                                  <p class="lead">オンライン ￥176,000（税別）<br>
                                    <span class="txt-16">分割は6,300円〜（税別）</span></p>
                                    <!-- ./料金 -->

                                    <!-- サポート期間 -->
                                    <h3>サポート期間</h3>
                                    <p class="lead">受講開始から1年間</p>
                                    <!-- ./サポート期間 -->

                                  </div>
                                </div>                          </div>
                              </div>
                              <!--/row-->

                              <hr>
                              <p>
                                LINE@ LINE@では卒業後のお仕事や島のシェアハウスの風景など非公開情報を公開します！
                              </p>

                              {% include "/elements/contact_link.twig" %}
                            </section>
                            
                          </div>
                        </article>
                      {% endblock %}
